
.zl-sku {
    margin-right: 30px;
}
span.fa-stack{
    font-size: 20px;
}
.rating .rating-box{
    font-size: 35px;
}
.left-content-product .content-product-right .box-review{
    font-size: 1.3rem;
}
.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn{
    border-radius: 0px !important;
}
.btn-default{
    border-radius:0px !important;
    font-size: 12px;
    border-color:unset;
    border:0px !important;
}
.btn-default:hover{
    background-color: unset;
    color: unset;
}
.btn-whatsapp,.btn-whatsapp:hover{
    background-color: #65bc54;
    color: #ffffff;
}
.btn-facebook,.btn-facebook:hover{
    background-color: #2861ac;
    color: #ffffff;
}
.btn-twitter,.btn-twitter:hover{
    background-color: #37b3db;
    color: #ffffff;
}
.btn-line,.btn-line:hover{
    background-color: #3acd01;
    color: #ffffff;
}
.btn-sms,.btn-sms:hover{
    background-color: #1b8ba8;
    color: #ffffff;
}
.btn-instagram,.btn-instagram:hover{
    background-image: linear-gradient(to bottom, #d44088 0%, #f38c4d 51%,#f6d365 100%);
    color: #ffffff;
}
.vcenter {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
}
.vcenter div span.zl-text{
    color: #444;
    font-weight: 600;
}
.vcenter div .box-info-product{
    margin: 0 !important;
}
.left-content-product .content-product-right .box-info-product .quantity .quantity-control span.product_quantity_down{
    background: none repeat scroll 0 0 #fff6f6;
    font-size: 13px;
    padding: 0 4px;
    position: relative;
    top: unset;
    width: 25px;
    height: 35px;
    line-height: 35px;
    right: unset;
    border: 1px solid #ddd;
    color: #444;
    border-right: 0;
    border-radius: 5px  0 0 5px;
    margin: 0;
}
.left-content-product .content-product-right .box-info-product .quantity .quantity-control input.form-control{
    min-width: 50px;
    width: 50px;
    text-align: center;
}
.left-content-product .content-product-right .box-info-product .quantity .quantity-control span.product_quantity_up{
    background: none repeat scroll 0 0 #fff6f6;
    font-size: 13px;
    padding: 0 4px;
    position: relative;
    top: unset;
    width: 25px;
    height: 35px;
    line-height: 35px;
    right: unset;
    border: 1px solid #ddd;
    color: #444;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    margin: 0;
}
.coupon-left, .coupon-right{
    display: flex;
    border: 2px solid #65bc54;
    vertical-align: middle;
    float: left;
    padding: 5px 20px;
}
.coupon-left{
    color: #65bc54 ;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.115em;
}
.coupon-right{
    background: #65bc54;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.help-btn a{
    padding: 20px;
    font-size: 20px;
    vertical-align: middle;
}
.color-form-wrapper .form-group{
    display: inline-block;
    /*display: flex;*/
    margin-bottom: 0;
}
.color-form-wrapper .form-group .color-item{
    padding: 5px 15px;
    margin: auto 0px;
    border:1px solid #F0F0F0;
    text-align: center;
    display: inline-block;
}
.color-form-wrapper .form-group .color-item.active, .color-form-wrapper .form-group .color-item:hover{
    background: #c93535;
    border: 1px solid #c93535;
    color: #fff;
}
.color-form-wrapper .form-group .color-item.inactive, .color-form-wrapper .form-group .color-item.inactive:hover{
    background: #fff;
    border: 1px solid #F0F0F0;
    color: #eaeaea;
}
.color-form-wrapper .form-group .color-item input{
    display:none;
}
label.color-name{
    margin: auto 0px;
}
.wh-wrapper{
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    display: block;
    width: 250px;
}
.wh-wrapper .wh-item .wh-label{
    float: left;
}
.wh-wrapper .wh-item .wh-label label{
    margin: 0;
    font-weight: 700;
}
.wh-wrapper .wh-item .wh-stock{
    float: right;
    padding: 0px 5px;
    background: #97aa55;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
.wh-wrapper .wh-item .wh-label input{
    display: none;
}
.wh-wrapper.active{
    background: #fff6f6;
    border: 1px solid #f78181;
}
.wh-wrapper.inactive .wh-item .wh-stock{
    background: #ddd;
}
.panel-danger{
    background: #fff6f6;
    border: 1px solid #ddd;
}
.btn-pay{
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}
.btn-add{
    padding: .875em 40px;
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    border: 1px solid #d9534f;
    color: #d9534f;
}
.btn-add:hover{
    color: #d9534f;
}
.btn-add i{
    font-size: 24px;
    margin-right: 8px;
}

.star-box{
    font-size: 5px !important;
    padding-right: 20px !important;
}
.star-rating{
    padding-right: 15px !important;
    font-size: 15px !important;
}
.progress{
    height: 10px;
}
.progress-bar-warning {
    background-color: #fec42d;
}
.card-wrapper{
    padding: 0px;
}