@font-face {
  font-family: 'zolaku';
  src:  url('fonts/zolaku.eot?w2ljr9');
  src:  url('fonts/zolaku.eot?w2ljr9#iefix') format('embedded-opentype'),
    url('fonts/zolaku.ttf?w2ljr9') format('truetype'),
    url('fonts/zolaku.woff?w2ljr9') format('woff'),
    url('fonts/zolaku.svg?w2ljr9#zolaku') format('svg');
  font-weight: normal;
  font-style: normal;
}

.zl {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zolaku' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zl-history:before {
  content: "\e900";
  color: #717171;
}
.zl-leaderboard:before {
  content: "\e901";
  color: #717171;
}
.zl-network:before {
  content: "\e902";
  color: #717171;
}
.zl-notif:before {
  content: "\e903";
  color: #717171;
}
.zl-point:before {
  content: "\e904";
  color: #717171;
}
.zl-voucher:before {
  content: "\e905";
  color: #717171;
}
.zl-user:before {
  content: "\e906";
  color: #717171;
}
