.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
footer .footer-top{
    background: #dc5054;
    background: linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -webkit-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -moz-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
}
footer.typefooter-4 .footer-top .find-store-last p{
    text-align: left;
    margin: 0px 0 45px 0 !important;
    color: #fff !important;
}
div.module.custom-listingtab .box-title h2{
    background: #dc5054;
    background: linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -webkit-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -moz-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
}
.price .price-new, .price span.price{
    color: #EC6E6E !important;
}
.products-list.grid .product-item-container .right-block .addToCart{
    background-color: #EC6E6E !important;
}
.products-list.grid .product-item-container .right-block .cartinfo--static .btn-button{
    background-color: #EC6E6E !important;
    color: #ffffff;
}
.products-list.grid .product-item-container .left-block.left-b .quickview{
    background-color: #EC6E6E !important;
    color: #ffffff;
}
.label-sale{
    background-color: #EC6E6E !important;
}
footer .footer-top .block-infos .info{
    width: 33.3%;
    float: left;
}
div.module.custom-listingtab .owl2-controls .owl2-nav > div:hover{
    border: none;
    background: #EC6E6E !important;
}
div.module.custom-listingtab .list-sub-cat.ltabs-tabs li.tab-sel.ltabs-tab > span{
    color: #EC6E6E !important;
}
footer .footer-center{
    background-color: #ffffff !important;
}
footer .footer-bottom{
    background-color: #ffffff !important;
    text-align: left;
}
#content{
    margin-bottom: 0px !important;
}
.common-home .block.block_3{
    margin-bottom: 50px;
}
@media (min-width: 1200px) {
div.module.top-product-home .ltabs-wrap .ltabs-items-container {
margin-left: 0px !important;
}
}

.flash-sale .product-item-container {
    min-height: 329px;
}

.flash-sale .releate-products .owl2-nav {
    right: 10px;
}

.flash-sale .releate-products .owl2-nav div {
    border: none !important;
    text-align: center;
    margin: 0;
    width: 28px;
}

.flash-sale .releate-products .owl2-nav div.owl2-prev, .flash-sale .releate-products .owl2-nav div.owl2-next {
    background: none !important;
}

.flash-sale .owl2-controls .owl2-prev:before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 28px;
}

.flash-sale .owl2-controls .owl2-next:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 28px;
}

.flash-sale .owl2-controls .owl2-nav > div:hover{
    border: none;
    background: #EC6E6E !important;
    color: #ffffff;
}


footer .footer-center .module ul.links-footer li a:hover, footer .footer-center .module ul.menu li a:hover{
    color: #EC6E6E !important;

    padding-left: 0px !important;
}

footer .module .footer-block-title h3, footer .module h3.footertitle{
    font-size: 1.2rem !important;
}
