.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
footer .footer-top{
    background: #dc5054;
    background: linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -webkit-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -moz-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
}
footer.typefooter-4 .footer-top .find-store-last p{
    text-align: left;
    margin: 0px 0 45px 0 !important;
    color: #fff !important;
}
div.module.custom-listingtab .box-title h2{
    background: #dc5054;
    background: linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -webkit-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -moz-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
}
.price .price-new, .price span.price{
    color: #EC6E6E !important;
}
.products-list.grid .product-item-container .right-block .addToCart{
    background-color: #EC6E6E !important;
}
.products-list.grid .product-item-container .right-block .cartinfo--static .btn-button{
    background-color: #EC6E6E !important;
    color: #ffffff;
}
.products-list.grid .product-item-container .left-block.left-b .quickview{
    background-color: #EC6E6E !important;
    color: #ffffff;
}
.label-sale{
    background-color: #EC6E6E !important;
}
footer .footer-top .block-infos .info{
    width: 33.3%;
    float: left;
}
div.module.custom-listingtab .owl2-controls .owl2-nav > div:hover{
    border: none;
    background: #EC6E6E !important;
}
div.module.custom-listingtab .list-sub-cat.ltabs-tabs li.tab-sel.ltabs-tab > span{
    color: #EC6E6E !important;
}
footer .footer-center{
    background-color: #ffffff !important;
}
footer .footer-bottom{
    background-color: #ffffff !important;
    text-align: left;
}
#content{
    margin-bottom: 0px !important;
}
.common-home .block.block_3{
    margin-bottom: 50px;
}
@media (min-width: 1200px) {
div.module.top-product-home .ltabs-wrap .ltabs-items-container {
margin-left: 0px !important;
}
}

.flash-sale .product-item-container {
    min-height: 329px;
}

.flash-sale .releate-products .owl2-nav {
    right: 10px;
}

.flash-sale .releate-products .owl2-nav div {
    border: none !important;
    text-align: center;
    margin: 0;
    width: 28px;
}

.flash-sale .releate-products .owl2-nav div.owl2-prev, .flash-sale .releate-products .owl2-nav div.owl2-next {
    background: none !important;
}

.flash-sale .owl2-controls .owl2-prev:before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 28px;
}

.flash-sale .owl2-controls .owl2-next:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 28px;
}

.flash-sale .owl2-controls .owl2-nav > div:hover{
    border: none;
    background: #EC6E6E !important;
    color: #ffffff;
}


footer .footer-center .module ul.links-footer li a:hover, footer .footer-center .module ul.menu li a:hover{
    color: #EC6E6E !important;

    padding-left: 0px !important;
}

footer .module .footer-block-title h3, footer .module h3.footertitle{
    font-size: 1.2rem !important;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.login-popup {
    width: 420px !important;
}

.login-popup .modal-header, .login-popup .modal-footer {
    background: #FFF6F6;
    border-radius: 5px;
    text-align: center;
}


.login-popup a {
    font-weight: bold;
    color: #dc5054;
}

.login-popup form button {
    background: #c93535;
    border: none;
    border-radius: 5px;
}

.login-popup .social-media-button .btn {
    background: none;
    border-radius: 5px;
}

.login-popup .social-media-button .google {
    border: 1px solid #dcdcdc;
    color: #999999;
    padding-top: 6px;
    height: 35px;
}

.login-popup .social-media-button .google img {
    height: 20px;
}

.login-popup .social-media-button .facebook:before {
    content: "\f09a";
    font-family: FontAwesome;
    position:absolute;
    top: 9px;
    left: 50px;
    background: #ffffff;
    color: #3b5998;
    padding: 0px 4px;
    height: 17px;
}

.login-popup .social-media-button .facebook {
    border: none;
    background: #3b5998;
    color: #ffffff;
    height: 35px;
    padding-top: 8px;
}

.login-popup .forgot-password-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-popup form button:hover, .login-popup form button:focus, .login-popup form button:active {
    background: #ef5d61 !important;
}

#modal-register .modal-dialog {
    width: 720px !important;
}

#modal-register .modal-header, #modal-register .modal-footer {
    background: #FFF6F6;
    border-radius: 5px;
    text-align: center;
}

#modal-register .modal-header h4  {
    font-size: 18px;
    color: #555555;
    text-align: left;
}

#modal-register .container-register-phone {
    background: #FFF6F6;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #d1d1d1;
}

#modal-register .container-register-phone button {
    border-radius: 5px;
}

#modal-register .social-media-button .btn {
    background: none;
    border-radius: 5px;
}

#modal-register .social-media-button .google {
    border: 1px solid #dcdcdc;
    color: #999999;
    padding-top: 6px;
    height: 35px;
    background: #ffffff;
}

#modal-register .social-media-button .google img {
    height: 20px;
}

#modal-register .social-media-button .facebook:before {
    content: "\f09a";
    font-family: FontAwesome;
    position:absolute;
    top: 9px;
    left: 21%;
    background: #ffffff;
    color: #3b5998;
    padding: 0px 4px;
    height: 17px;
}

#modal-register .social-media-button .facebook {
    border: none;
    background: #3b5998;
    color: #ffffff;
    height: 35px;
    padding-top: 8px;
}

form .form-group label {
    font-weight: bold;
}

form .form-group.error .help-block {
    color: #ef5d61;
    font-size: 11px;
    line-height: 8px;
}

.form-group.error .form-control {
    border: 1px solid #ef5d61;
}

form.ajax-helper .form-group.error .help-block {
    position: absolute;
    white-space: nowrap;
}

input::-webkit-input-placeholder { /* Edge */
    color: #afafaf !important;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #afafaf !important;
}

input::placeholder {
    color: #afafaf !important;
}

.form-control, .btn {
    height: 40px;
}
