/**
 * FilePond Custom Styles
 */
.filepond--drop-label {
  color: #4c4e53;
}

.filepond--label-action {
  -webkit-text-decoration-color: #babdc0;
          text-decoration-color: #babdc0;
}

.filepond--panel-root {
  border-radius: 2em;
  background-color: #edf0f4;
  height: 1em;
}

.filepond--item-panel {
  background-color: #595e68;
}

.filepond--drip-blob {
  background-color: #7f8a9a;
}

.filepond--file-info .filepond--file-info-main, .filepond--drop-label label{
	font-size: 12px;
	font-family: 'montserrat';
}

.filepond--file-info .filepond--file-info-sub{
	font-size: 10px;
}