.producttab .tabsslider.horizontal-tabs .nav-tabs li.item{
	display: grid;
}

.ease {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.tabs {
    background: #fff;
    position: relative
}

.tabs>input,
.tabs>span {
    /*width: 33%;*/
    width: calc(100% / 3);
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 0
}

.tabs>input {
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    z-index: 99
}

.tabs>span {
    background: #f0f0f0;
    text-align: center;
    overflow: hidden;
    height: 100px;
}

.tabs>span i,
.tabs>span {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.tabs>input:hover+span {
    background: rgba(255, 255, 255, .1)
}

.tabs>input:checked+span {
    background: #fff
}

.tabs>input:checked+span,
.tabs>input:hover+span {
    color: #DC5054
}

#tab-1,
#tab-1+span {
    left: 0
}

#tab-2,
#tab-2+span {
    left: 33.4%
}

#tab-3,
#tab-3+span {
    left: 66.7%
}

#tab-4,
#tab-4+span {
    left: 60%
}

#tab-5,
#tab-5+span {
    left: 80%
}

.notif-tab-content {
    padding: 100px 20px 20px;
    width: 100%;
    min-height: 340px
}

.notif-tab-content section {
    width: 100%;
    display: none
}

.notif-tab-content section h1 {
    margin-top: 15px;
    font-size: 100px;
    font-weight: 100;
    text-align: center
}

#tab-1:checked~.notif-tab-content #tab-item-1 {
    display: block
}

#tab-2:checked~.notif-tab-content #tab-item-2 {
    display: block
}

#tab-3:checked~.notif-tab-content #tab-item-3 {
    display: block
}

#tab-4:checked~.notif-tab-content #tab-item-4 {
    display: block
}

#tab-5:checked~.notif-tab-content #tab-item-5 {
    display: block
}

.effect-1>input:checked+span {
    background: #fff
}

.effect-2 span i {
    padding-right: 15px
}

@media(max-width:600px) {
    .effect-2 span span {
        display: none
    }
    .effect-2 span i {
        padding: 0
    }
}

.effect-3 .line {
    background: #c93535;
    width: 33.3%;
    height: 4px;
    position: absolute;
    top: 96px
}

#tab-1:checked~.line {
    left: 0
}

#tab-2:checked~.line {
    left: 33.3%
}

#tab-3:checked~.line {
    left: 66.7%
}

#tab-4:checked~.line {
    left: 60%
}

#tab-5:checked~.line {
    left: 80%
}

.effect-4 span i {
    font-size: 18px;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    opacity: 0;
    transform: translateX(-50%)
}

.effect-4 span span {
    position: relative;
    top: 10px
}

.effect-4>input:checked+span i,
.effect-4>input:hover+span i {
    top: 20%;
    opacity: 1
}

.effect-5>input:checked+span i,
.effect-5>input:hover+span i {
    font-size: 25px
}



