/*flash sale style*/
/*.flashsale-content .container{
    margin-top: -10.5em;
}*/

.progress{
      height: 10px !important;
      margin-bottom: 0;
}
.card-wrapper-title {
      background-image: linear-gradient(to right, #e22b2b, #8f1b1d);
      width: 360px;
      padding: 12px;
      padding-left: 20px;
      margin-top: -20px;
      margin-left: -20px;
      border: 5px;
      border-radius: 10px 0px 15px 0px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
      color: white;
      font-size: 18px;
}
.products-list.grid .product-item-container .right-block {
      clear: both;
      padding: 10px 5px 20px 4px !important;
      text-align: left;
      position: relative;
      overflow: hidden;
}
.badge-wrapper {
      text-align: right;
      right: 10px;
}
.badge {
      min-width: 63px;
      padding: 5px 10px;
      margin-top: 0;
      border-radius: 20px;
}
div.col-lg-7{
      padding: 0;
}
.tabsslider .nav-tabs .item a{
    height: 100%;
}
div.module.custom-listingtab .products-list.grid .product-layout .product-item-container:hover .right-block.right-b .button-group{
      bottom: 30px;
}
.related .releate-products .owl2-nav{
      top: -70px;
}
div.module.custom-listingtab .owl2-controls .owl2-nav{
      top: -30px !important;
      position: absolute;
      right: 15px;
}
.products-list .product-layout .product-item-container{
  box-shadow:none !important;
  max-height: 270px;
  min-height: 170px;
  margin: 10px !important;
}

div.module.topbrands {
  margin: 0 0 0 0;
  position: relative; }
  div.module.topbrands .box-title {
    position: absolute;
    top: -8px;
    min-width: 204px;
    left: -8px; }
  div.module.topbrands .box-title h2 {
    line-height: 48px;
    background-color: #c93535;
    font-size: 18px;
    padding: 0 16px;
    color: #fff;
    margin: 0;
    font-weight: bold;
    border-radius: 0 7px 0 0;
    position: relative;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1); }
  div.module.topbrands .box-title h2:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    bottom: -8px;
    position: absolute;
    border-right: 8px solid #cc4b00;
    left: 1px; }

div.module.topbrands .box-title {
    position: absolute;
    top: -8px;
    min-width: 204px;
    left: -8px;
}
div.module.topbrands .box-title h2 {
    background: #dc5054;
    background: linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -webkit-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -moz-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
}