/*flash sale style*/
/*.flashsale-content .container{
    margin-top: -10.5em;
}*/

.progress{
      height: 10px !important;
      margin-bottom: 0;
}
.card-wrapper-title {
      background-image: linear-gradient(to right, #e22b2b, #8f1b1d);
      width: 360px;
      padding: 12px;
      padding-left: 20px;
      margin-top: -20px;
      margin-left: -20px;
      border: 5px;
      border-radius: 10px 0px 15px 0px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
      color: white;
      font-size: 18px;
}
.products-list.grid .product-item-container .right-block {
      clear: both;
      padding: 10px 5px 20px 4px !important;
      text-align: left;
      position: relative;
      overflow: hidden;
}
.badge-wrapper {
      text-align: right;
      right: 10px;
}
.badge {
      min-width: 63px;
      padding: 5px 10px;
      margin-top: 0;
      border-radius: 20px;
}
div.col-lg-7{
      padding: 0;
}
.tabsslider .nav-tabs .item a{
    height: 100%;
}
div.module.custom-listingtab .products-list.grid .product-layout .product-item-container:hover .right-block.right-b .button-group{
      bottom: 30px;
}
.related .releate-products .owl2-nav{
      top: -70px;
}
div.module.custom-listingtab .owl2-controls .owl2-nav{
      top: -30px !important;
}


/*left ribbon*/
.box {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #a72024;
  background: linear-gradient(#f54449 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.products-list .product-layout .product-item-container, .products-list .product-layout .product-item-container .left-block{
      overflow: visible !important;
}