/*flash sale style*/
/*.flashsale-content .container{
    margin-top: -10.5em;
}*/

.progress{
      height: 10px !important;
      margin-bottom: 0;
}
.card-wrapper-title {
      background-image: linear-gradient(to right, #e22b2b, #8f1b1d);
      width: 360px;
      padding: 12px;
      padding-left: 20px;
      margin-top: -20px;
      margin-left: -20px;
      border: 5px;
      border-radius: 10px 0px 15px 0px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
      color: white;
      font-size: 18px;
}
.products-list.grid .product-item-container .right-block {
      clear: both;
      padding: 10px 5px 20px 4px;
      text-align: left;
      position: relative;
}
.badge-wrapper {
      text-align: right;
      right: 10px;
}
.badge {
      min-width: 63px;
      padding: 5px 10px;
      margin-top: 0;
      border-radius: 20px;
}
div.col-lg-7{
      padding: 0;
}
.tabsslider .nav-tabs .item a{
    height: 100%;
}
div.module.custom-listingtab .products-list.grid .product-layout .product-item-container:hover .right-block.right-b .button-group{
      bottom: 30px;
}
.related .releate-products .owl2-nav{
      top: -70px;
}
div.module.custom-listingtab .owl2-controls .owl2-nav{
      top: -45px;
}