.producttab .tabsslider.horizontal-tabs .tab-content{
    padding: 10px;
    border: unset;
}
.producttab .tabsslider.horizontal-tabs .nav-tabs li {
    margin: -1px 0 0 0px;
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    border-right: 0px solid #e1e1e1;
}
.producttab .tabsslider.horizontal-tabs .nav-tabs li a{
  color: #fff;
}
.nav-promo li{
    background: #c93535;
}

.box-title h2{
    background: #dc5054;
    background: linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -webkit-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
    background: -moz-linear-gradient(160deg,#dc5054 0%, #a41d21 100%);
}
.box-title h2 {
    line-height: 48px;
    background-color: #ff5e00;
    font-size: 18px;
    padding: 0 16px;
    color: #fff;
    margin-left: -25px;
    margin-top: 8px;;
    margin-bottom: 12px;
    font-weight: bold;
    border-radius: 0 7px 0 0;
    position: relative;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.box-title h2:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    bottom: -8px;
    position: absolute;
    border-right: 8px solid #cc4b00;
    left: 1px;
}
.box-title {
    position: relative;
    top: -40px;
    left: -9px;
}
.pd-l-20{
    padding-left: 20px;
}
.pd-b-10{
    padding-bottom: 10px;
}
.l-detail{
    color: #dc5054;
    font-size: 13px;
    top: 50%;
    bottom: 50%;
    margin-right: 2%;
    margin-top: 5px;
}
.terms-wrapper{
    background: #fff;
    padding: 14px;
    margin-top: 0px;
    margin-bottom: 50px;
    border-radius: 0px 0px 10px 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}
.products-list.grid .product-item-container .right-block{
      clear: both;
      padding: 10px 5px 20px 4px;
      text-align: left;
      position: relative;
}
.producttab .tabsslider.horizontal-tabs .nav-tabs li.active a{
    background: #c93535;
    color: white!important;
}
.producttab .tabsslider.horizontal-tabs .nav-tabs li.item_nonactive a{
    background: #fff;
}
li.item a{
    background: #fff;
    color: black!important;
}
.share-txt{
    display: block;
}
.mg-b-m13{
  margin-bottom: -13px;
}

.products-list.grid .product-item-container:hover .right-block.right-b .cartinfo--static{
    box-shadow: none;
}