/*! ########## Product List custom styling ########## */
.c-content--category__product-list {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 20px 0px rgba(164, 164, 164, 0.16); }

.c-content--category__product-description {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 20px 0px rgba(164, 164, 164, 0.16); }

.o-badge__pill {
  font-size: 12px;
  padding: 10px;
  font-weight: medium;
  min-width: 60px;
  min-height: 35px;
  font-weight: 500; }

.o-badge--primary {
  border: 1px solid #E1E1E1;
  color: #DC5054;
  background-color: transparent;
  border-radius: 20px; }

.o-product__title {
  font-weight: 600;
  font-size: 25px; }

.o-product__info {
  font-weight: 400;
  font-size: 15px;
  color: #9E9E9E; }

.o-badge__product {
  min-width: 115px;
  min-height: 40px;
  border: 1px solid #E1E1E1;
  color: #FFFFFF;
  background: linear-gradient(#174564 0%, #4493e2 53.14%, #278bce 100%);
  border-radius: 50px;
  font-size: 18px; }

.o-product__rating--primary {
  color: #F3B82E;
  font-size: 20px;
  margin: 0px 5px; }

.o-product__rating--secondary {
  color: #E1E1E1;
  font-size: 20px;
  margin: 0px 5px; }

.c-product__price {
  color: #DC5054;
  font-weight: 600; }

.o-product__price--discount {
  color: #9E9E9E;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
  text-decoration: line-through; }

.c-content__social-share {
  background-color: #FFF6F6;
  border: 1px solid #E2E2E2;
  padding: 20px;
  border-radius: 10px;
  min-width: 100%; }

.o-share__info {
  font-size: 1em;
  font-weight: 400;
  color: #000000; }

.c-content__social-button {
  min-height: 50px;
  max-height: 100px;
  border-radius: 5px;
  margin-top: 15px; }

.o-social__button--whatsapp {
  min-height: 50px;
  color: #FFFFFF;
  background-color: #65BC54;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.o-social__button--instagram {
  min-height: 50px;
  color: #FFFFFF;
  background-color: #FF9741; }

.o-social__button--facebook {
  min-height: 50px;
  color: #FFFFFF;
  background-color: #2861AC; }

.o-social__button--sms {
  min-height: 50px;
  color: #FFFFFF;
  background-color: #1B8BA8; }

.o-social__button--line {
  min-height: 50px;
  color: #FFFFFF;
  background-color: #3ACD01; }

.o-social__button--twitter {
  min-height: 50px;
  color: #FFFFFF;
  background-color: #37B3DB;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.c-product__detail {
  padding-top: 20px; }

.o-product__detail--title {
  font-weight: 400;
  font-size: 14px;
  text-align: left; }

.c-button {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.25;
  border-radius: 3px;
  transition: all 0.15s ease-in-out; }

.c-button.active {
  background-color: #DC5054;
  color: #FFFFFF; }

.o-btn__warna {
  color: #000000;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 0px;
  min-width: 100px;
  min-height: 50px; }

.o-btn__ukuran {
  color: #000000;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 0px;
  min-width: 60px;
  min-height: 50px; }

.o-btn__stok {
  border: 2px solid #CCCCCC;
  background-color: white;
  min-height: 40px;
  padding: 0.3rem 0.8rem;
  margin-right: 10px; }

.o-btn__stok--disabled {
  border: 2px solid #CCCCCC;
  background-color: white;
  min-height: 40px;
  padding: 0.3rem 0.8rem;
  color: #BBBBBB; }
  .o-btn__stok--disabled .o-badge__ukuran {
    background-color: #BBBBBB !important; }

.o-badge {
  display: inline-block;
  margin-left: 10px;
  padding: .7em .7em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s; }

.o-badge__ukuran {
  background-color: #97AA55;
  color: #FFFFFF; }

.o-btn__bayar {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 500;
  min-height: 50px;
  background-color: #DC5054;
  color: #FFFFFF; }

.o-btn__keranjang {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 500;
  min-height: 50px;
  background-color: transparent;
  color: #DC5054;
  border: 1px solid #DC5054; }

.c-nav-tab__description {
  border-bottom: 0px; }
  .c-nav-tab__description .c-nav-tab__description-item {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500; }
    .c-nav-tab__description .c-nav-tab__description-item .o-nav-tab__description-link.active {
      min-height: 50px;
      padding-top: 15px;
      border-bottom: 0px;
      background-color: #DC5054;
      color: #FFFFFF; }
    .c-nav-tab__description .c-nav-tab__description-item .o-nav-tab__description-link {
      min-height: 50px;
      padding-top: 15px;
      border-bottom: 0px;
      background-color: #E1E1E1;
      border-radius: 0;
      color: #717171; }
    .c-nav-tab__description .c-nav-tab__description-item .o-nav-tab__description-link--start {
      min-height: 50px;
      padding-top: 15px;
      border-bottom: 0px;
      border-top-left-radius: 15px;
      background-color: #E1E1E1;
      color: #717171; }
    .c-nav-tab__description .c-nav-tab__description-item .o-nav-tab__description-link--start.active {
      min-height: 50px;
      padding-top: 15px;
      border-bottom: 0px;
      background-color: #DC5054;
      color: #FFFFFF; }
    .c-nav-tab__description .c-nav-tab__description-item .o-nav-tab__description-link--end {
      min-height: 50px;
      padding-top: 15px;
      border-bottom: 0px;
      border-bottom-right-radius: 15px;
      background-color: #E1E1E1;
      color: #717171; }
    .c-nav-tab__description .c-nav-tab__description-item .o-nav-tab__description-link--end.active {
      min-height: 50px;
      padding-top: 15px;
      border-bottom: 0px;
      background-color: #DC5054;
      color: #FFFFFF; }

.o-product__deskripsi--title {
  font-weight: 600;
  font-size: 1.5em;
  text-align: left; }

.o-product__deskripsi--detail {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  padding-top: 20px; }

.c-product__deskripsi--table {
  margin-top: 25px; }

.c-product__diskusi--komentar-isi {
  border: 1px solid #E1E1E1;
  padding: 25px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #FFF6F6; }
  .c-product__diskusi--komentar-isi .media-body {
    padding-left: 10px;
    padding-right: 10px; }

.c-product__diskusi--komentar-posted {
  border: 1px solid #E1E1E1;
  padding: 25px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #FFFFFF; }
  .c-product__diskusi--komentar-posted .media-body {
    padding-left: 10px;
    padding-right: 10px; }

#o-product__diskusi--kolom-komentar {
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 25px rgba(142, 142, 142, 0.25);
  border-radius: 5px; }

.o-btn__komentar--unggah {
  font-weight: 500;
  min-height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #E1E1E1;
  color: #DC5054; }

.o-btn__komentar--hapus {
  font-weight: 500;
  min-height: 40px;
  background-color: #E1E1E1;
  border: 1px solid #E1E1E1;
  color: #A2A2A2;
  text-transform: uppercase; }

.o-btn__komentar--kirim {
  font-weight: 500;
  min-height: 40px;
  background-color: #DC5054;
  color: #FFFFFF;
  text-transform: uppercase; }

.o-product__deskripsi--komentar-nama {
  font-size: 1em;
  font-weight: 600; }

.o-komentar__tanggal {
  font-size: 1em;
  font-weight: 400;
  padding-left: 20px;
  text-transform: capitalize; }

.c-product__ulasan--rating {
  border: 1px solid #E1E1E1;
  padding: 25px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #FFF6F6; }
  .c-product__ulasan--rating .media-body {
    padding-left: 10px;
    padding-right: 10px; }

.o-rating {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.1em; }

.o-rating__bintang {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 0.5em;
  padding-top: 10px; }

.c-product__rating-bar {
  display: flex;
  /* height: 1rem; */
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem; }

.o-rating__bar {
  height: 10px;
  background-color: #F3B82E; }
